.footer {
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    height: 147px;
    margin: 0 auto;
    border-top: 1px solid $border_color;
    & > * {
      margin-bottom: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      color: #7e7e82;
      mix-blend-mode: normal;
      opacity: 0.72;
    }

    @include mediaQ($mqT) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: baseline;
      padding: 24px;
      height: 100px;
    }
  }
  &__team {
    width: 218px;
    @include mediaQ($mqT) {
      text-align: left;
    }
  }
  &__copyright {
    @include mediaQ($mqT) {
      text-align: center;
    }
  }
  &__warning {
    max-width: 330px;
    @include mediaQ($mqT) {
      margin-left: auto;
      text-align: right;
    }
  }
}
