.header {
  &--page {
    height: 80px;
    margin-bottom: 24px;
    background-color: #fff;
    border-bottom: 1px solid $border_color;
    @include mediaQ($mqDl) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 24px 16px;

    & > *:not(:last-of-type) {
      margin-right: 16px;
    }

    @include mediaQ($mqT) {
      padding: 24px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 32px;
      border-radius: 1px;
      background-color: #eaeaea;
      margin-left: 16px;
    }
    @include mediaQ($mqT) {
      &::after {
        display: none;
      }

      &::before {
        content: "";
        display: block;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea;
        margin-right: 20px;
      }
    }
  }
  .button--repair {
    @include mediaQ($mqT) {
      margin-left: 20px;

      &::before {
        content: "";
        display: block;
        position: relative;
        left: -30px;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea;
        margin-right: 20px;
      }
    }
  }
}
